:root {
  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --sand: #EEE59F;
  --amber: #FFAE00;
  --coral: #FD8951;
  --up: #16C784;
  --down: #EA3943;
  --radius: 10px;
}

[data-theme='dark'] {
  --bg: #141008;
  --surface: #211B10;
  --surface-hover: #2C2416;
  --text: #FDFBF3;
  --text-dim: #B8AE8E;
  --border: #3A331F;
}

[data-theme='light'] {
  --bg: #EEE59F;
  --surface: #F7F1C9;
  --surface-hover: #FBF6DB;
  --text: #141008;
  --text-dim: #6B6242;
  --border: #D9CE84;
}

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  background:var(--bg);
  color:var(--text);
  font-family:var(--font-body);
  transition:background .2s,color .2s;
}

.mono {
  font-family:var(--font-mono);
}

button {
  font-family:var(--font-body);
  cursor:pointer;
  border:none;
  background:none;
  color:inherit;
}

::selection {
  background:var(--amber);
  color:#15130F;
}